@font-face {
    font-family: myfont;
    src: url(fonts/SourceSansPro-Regular.otf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.backg{
   height: 900px;
}
.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    padding: 12px 20px;
}
.logo{
    margin-left: 12%;
}
.menu{
    display: flex;
}
.menu li{padding-left: 30px;}
.menu li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;    
}
.menu li a:hover{
    color: rgba(255, 101, 101, 1);
}
.open-menu, .close-menu{
    position: absolute;
    color: white;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.open-menu{
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top: 7%;
    left: 2.5%;
    background-image: url(images/photo_2024-07-09_21-48-52.jpg);
    padding: 12px 21px;
    z-index: 1;
}
@media(max-width: 565px){
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40vh;
        top: 0%;
        right: -100%;
        z-index: 100;
        position: absolute;
        transition: all 0s ease-in-out;
    }
    .logo{
        padding-left: 13px;
    }
    .menu li{margin-top: 20px;}
    .menu li a{padding: 10px;}
    .open-menu, .close-menu{display: block;}
    #check:checked ~ .menu {right: 0;}
  
}

/* the writing main */
.backg{
    background-image: url(images/background\(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto;
}
.para{
    margin-top: 330px;
}
h1{
    text-align: center;
    font-family: myfont;
    font-size: 35px;
    font-weight: 600;
    color: white;
}
.smal{
    text-align: center;
    color: white;
    font-family: myfont;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 50px;
}
@font-face {
    font-family: myfon;
    src: url(fonts/SourceSansPro-Light.otf);
}
button{
    background-color:rgba(255, 101, 101, 1);
    border-radius: 40px;
    font-size: medium;
    font-weight: 300;
    padding: 10px 25px;
    color: white;
    font-family: myfont;
    border: 0;
    text-align: center;
    display: block;
    margin: auto;
}
button:hover{
    background-color: rgb(218, 77, 77);
}
.big{
    text-align: center;
    display: block;
    margin: auto;
    color: white;
    font-family: myfon;
    margin-top: 90px;
    line-height: 160%;
}